/* media width: 768 이하 */

@media all and (max-width: 768px){
    .section_style{
        padding: 3rem 2rem;
    }

    .section_title{
        font-size: 1rem;
    }
    .section_description{
        font-size: 0.8rem;
    }

    #home{

        padding-top:8rem;
    }
    /*header부분*/

    .header{
        width:100%;
        display: flex;
        flex-flow:column nowrap;
        align-items: start;
        background-color:black;
    }

        .header_nav{
            width: 100%;
        }
            .header_menu{
                width: 100%;
                display: none;
                flex-flow: column nowrap;
                text-align: center;
                padding: 1rem 6rem;
                gap: 1rem;
            }
          .header_menu.open{
            display:flex;
            flex-flow: column nowrap;
            width: 100%;
            text-align: center;
            padding: 1rem 6rem;
            gap: 1rem;
            } 
                    
        .hamburger{
            display: block;
            color: var(--color-orange);
            font-size: 1.5rem;
            position: absolute;
            top: 2rem;
            right: 1rem;
            border: 0;
        }


    /*HOME -> 변경사항 없음*/
    .home_container{background: transparent;}

    /*about*/
    .about_content{
        flex-direction: column;
        align-items: center;
    }
    .about_box{
        width:100%;
    }
    /*skills*/
    .skills_content{
        display:grid;
        width:100%;
        grid-template-rows: 1fr;
        grid-template-columns:1fr;
        margin: 2rem auto;
        grid-template-areas:
        "a"
        "b"
        "c";
    }
    /*work*/
    .category{
        display:flex;
        flex-flow: column nowrap;
        justify-content:center;
        background: transparent;
    }
        .category_button{
            width: 60%;
        }

    /*project 8개 시작*/

    .project_all{
        display: grid;
        grid-template-columns:repeat(2, 1fr);
        grid-template-rows:repeat(4, 1fr);
        gap: 1.5rem;
    }

    /*top 버튼*/
    .arrow_up{
        display: fixed;
        right:1rem;
        bottom:1rem;
        transform: scale(0.8);
    }
}       